body {
	font-family: 'Lato', 'Arial', sans-serif;
	background-color: #dee9f1;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
}

.myWork a:hover {
	color: #0000FF;
}

.counter {
	float: right;
}

header h5 {
	display: block;
	text-align: center;
}

.newPost {
	-webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	width: 90%;
	margin: 0 auto;
	margin-bottom: 65px;
	margin-top: 65px;
	display: block;
	padding-top: 45px;
	padding-bottom: 45px;
	/*
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	width: 90%;
	margin: 0 auto;
	display: block;*/
}

#pinnedPost {
	-webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.51);
	width: 90%;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 45px;
	display: block;
}

.heading {
	font-size: 1.4em;
	padding-left: 150px;
}

.newBlogParagraph {
	padding-left: 100px;
	padding-right: 100px;
	line-height: 2.7;
	font-size: 1.2em;
	text-indent: 70px;
	font-family: 'Hind', sans-serif;
}

.newBlogParagraph a {
	color: #0000FF;
	text-decoration: none;
}

.dates {
	float: right;
	padding-right: 150px;
}

.whiteBackground {
	background-color: #f5f5f5;
}

.body_contact {
	background-color: #f5f5f5;
	overflow: auto;
	margin: 0 auto;
	padding-top: 100px;
	width: 80%;
}

.myWork a {
	color: #0000FF;
	text-decoration: none;
}

.fullName {
	width: inherit;
	color: black;
	text-align: center;
	font-size: 7.0em;
	margin-bottom: 0px;
}

.left-header {
	letter-spacing: 10px;
	float: left;
	width: auto;
	text-align: center;
	margin-top: 115px;
	font-size: 2.0em;
	padding-left: 50px;
	width: 500px;
	font-family: 'Arvo', sans-serif;
}

.right-header {
	letter-spacing: 10px;
	font-family: 'Arvo', sans-serif;
	margin-top: 115px;
	float: right;
	text-align: center;
	width: auto;
	font-size: 2.0em;
	padding-right: 50px;
	width: 500px;
}

header {
	margin-bottom: -200px;
	padding-top: 70px;
}

.proPic {
	display: block;
	vertical-align: middle;
	max-width: 20%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	/*
	border-radius: 50%;
	border-bottom: solid 5px #dee9f1;
	border-top: solid 5px white;
	*/
}

.leftSide {
	float: left;
	width: 40%;
	margin-bottom: 5%;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
	position: relative;
}

.rightSide {
	float: right;
	width: 40%;
	margin-bottom: 5%;
	display: block;
	margin-right: 4%;
	margin-left: 4%;
}

.body {
	clear: both;
	background-color: #f5f5f5;
	overflow: auto;
	margin: 0;
	padding-top: 200px;
	width: 100%;
	padding-bottom: 100px;
}


/* ================ myStory ================== */

.myStory {
	margin: 0 auto;
}

.myStory h2 {
	font-size: 1.6em;
	font-weight: bolder;
	margin-bottom: 30px;
}

.introPara {
	line-height: 200%;
	font-family: 'Arvo', sans-serif;
	text-align: justify;
	margin-bottom: 60px;
	margin-top: 5px;
}


/* ================ recentStuff ================== */

.workExp {
	margin: 0 auto;
}

.workExp a {
	color: #0000FF;
	text-decoration: none;
}

.workExp a:hover {
	color: #0000FF;
}

.workExp p {
	line-height: 200%;
	font-family: 'Arvo', sans-serif;
}

.workExp h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}


/* ================ whatIKnow ================== */

.whatIKnow {
	margin: 0 auto;
	margin-bottom: 60px;
}

.whatIKnow h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}

.whatIKnow p {
	line-height: 150%;
	font-family: 'Arvo', sans-serif;
	text-indent: 20px;
}


/* ================ myWork ================== */

.myWork {
	margin: 0 auto;
}

.myWork h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}

.myWork h3 {
	text-align: center;
}

.myWork p {
	margin-left: 20px;
	line-height: 200%;
	font-family: 'Arvo', sans-serif;
}


/* ================ contact ================== */

.contact ul {
	margin: 0 auto;
	padding: 0;
	width: auto;
	text-align: center;
	list-style-type: none;
}

.contact ul li {
	margin-top: 50px;
	margin-bottom: -40px;
	margin-left: 3.5%;
	margin-right: 3.5%;
	display: inline-block;
}

.contact ul li .fa {
	/*
	display: inline;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	color: red;
	font-size: 30px;
	*/
	font-size: 40px;
	color: #404749;
	display: inline-block;
}

.contact li .fa-pencil-square:hover {
	color: #DB7700;
}

.contact li .fa-home:hover {
	color: #DB7700;
}

.contact li .fa-file-text:hover {
	color: indianred;
}

.contact li .fa-envelope:hover {
	color: forestgreen;
}

.contact li .fa-github-square:hover {
	color: darkgray;
}

.contact li .fa-facebook-square:hover {
	color: #3b5998;
}

.contact li .fa-linkedin-square:hover {
	color: #007bb6;
}

.contact ul li .fa-file-text {
	font-size: 35px;
}


/* ================ footer ================== */

footer {
	margin: 0 auto;
	clear: both;
	width: 100%;
	padding-top: 50px;
}

footer p {
	text-align: center;
	margin-top: -10px;
	padding-bottom: 15px;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
}

footer ul {
	padding: 0;
	width: 100%;
	text-align: center;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
	list-style-type: none;
}

footer ul li {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 7.5%;
	margin-right: 7.5%;
	display: inline-block;
}


/* ======================= Font Awesome ======================= */

footer li .fa {
	font-size: 4.0em;
	color: #404749;
	display: inline-block;
}

footer li .fa-file-text {
	font-size: 3.55em;
}

footer li .fa-file-text:hover {
	color: indianred;
}

footer li .fa-envelope:hover {
	color: forestgreen;
}

footer li .fa-github-square:hover {
	color: darkgray;
}

footer li .fa-facebook-square:hover {
	color: #3b5998;
}

footer li .fa-linkedin-square:hover {
	color: #007bb6;
}


/* ======================= Font Awesome ======================= */

@media screen and (max-width: 1375px) {
	.proPic {
		max-width: 15%;
		margin-top: 100px;
	}
	.left-header {
		font-size: 2.0em;
	}
	.right-header {
		font-size: 2.0em;
	}
}

@media screen and (max-width: 1295px) {
	.left-header {
		font-size: 1.5em;
		margin-bottom: 50px;
	}
	.right-header {
		margin-bottom: 50px;
		font-size: 1.5em;
	}
	.proPic {
		margin-bottom: 125px;
	}
}

@media screen and (max-width: 1100px) {
	.left-header {
		display: none;
	}
	.fullName {
		font-size: 4.0em;
		padding-bottom: 150px;
	}
	.blogCSS {
		display: none;
	}
	.heading {
		font-size: 1.3em;
		padding-left: 50px;
	}
	.dates {
		font-size: 0.5em;
		padding-right: 50px;
	}
	.newBlogParagraph {
		padding-left: 75px;
		padding-right: 75px;
		line-height: 2.4;
		font-size: 1.2em;
		text-indent: 40px;
	}
	.contact {
		padding-bottom: 50px;
		margin-top: -70px;
	}
	.proPic {
		max-width: 25%;
		margin-bottom: 150px;
	}
	.right-header {
		display: none;
	}
}

@media screen and (max-width: 460px) {
	.heading {
		display: none;
		visibility: hidden;
	}
	.dates {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.heading h2 {
		font-size: 0.8em;
		margin: 0 auto;
		margin-left: 25px;
	}
	.dates {
		font-size: 0.8em;
		padding-right: 0;
	}
	.newBlogParagraph {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 665px) {
	.heading {
		font-size: 0.9em;
		padding-left: 0px;
		padding-right: 50px;
	}
	.dates {
		font-size: 0.9em;
		padding-right: 50px;
	}
	.newBlogParagraph {
		padding-left: 20px;
		padding-right: 20px;
		line-height: 2.4;
		font-size: 0.8em;
		text-indent: 40px;
	}
	.contact {
		margin-top: -150px;
		margin-bottom: 50px;
	}
	header {
		padding-bottom: 150px;
		padding-top: 0;
	}
	.body {
		padding-top: 70px;
	}
	.fullName {
		font-size: 3.0em;
	}
	.proPic {
		max-width: 40%;
		margin-top: 70px;
	}
	.leftSide {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	.myStory {
		padding-left: 3%;
		padding-right: 3%;
		margin: 0 auto;
	}
	.workExp {
		padding-left: 2%;
		padding-right: 2%;
		margin-bottom: 40px;
	}
	.whatIKnow {
		padding-left: 2%;
		padding-right: 2%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.whatIKnow p {
		text-indent: 0;
		text-align: center;
	}
	.rightSide {
		float: left;
		width: 100%;
		margin: 0 auto;
	}
	.left-header {
		display: none;
	}
	.right-header {
		display: none;
	}
	h2 {
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
		width: 100%;
	}
	.blogCSS {
		display: none;
	}
	.newBlogParagraph {
		padding-left: 75px;
		padding-right: 75px;
		line-height: 2.4;
		font-size: 1.0em;
		text-indent: 40px;
	}
	.contact {
		padding-bottom: 50px;
		margin-top: -70px;
	}
	.contact ul li {
		margin-left: 5%;
		margin-right: 5%;
	}
	.contact ul li .fa {
		font-size: 25px;
	}
	footer ul li {
		margin-left: 5%;
		margin-right: 5%;
	}
	footer p {
		font-size: 17px;
	}
	footer li .fa {
		font-size: 25px;
		color: #404749;
		display: inline-block;
	}
}