.headBar {
	font-family: Avenir;
	background-color: lightgray;	
}
.fullName {
	width: inherit;
	height: auto;
	width: auto;
	color: black;
	text-align: center;
	font-size: 3.5em;
	margin-bottom: 1px;
	margin-top: 1px;
}
.lastName {
	color: dimgray;
}
hr {
	border-width: 3px;
	margin: auto 10px;
}
.topInfo {
	margin-top: 1px;
	text-align: center;
	font-size: 0.8em;
}
.main {
	text-align: center;
}
/* ======================================== */
.edu {
	margin: 0 auto;
}
.edu ul {
	padding: 0;
	list-style: none;	
}
.edu ul li {
	margin: 0;
	padding-left: 0;
}
.edu ul li h4 {
	margin-top: 0px;
	margin-bottom: 5px;
}
.exp {

}