body {
	font-family: 'Lato', 'Arial', sans-serif;
	background-color: #dee9f1;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
}

.body a:visited {
	text-decoration: none;
	color: #0000FF;
}

.fullName {
	width: inherit;
	color: black;
	text-align: center;
	font-size: 7.0em;
	margin-bottom: 0px;
}

.left-header {
	letter-spacing: 10px;
	float:left;
	width:auto;
	text-align: center;
	margin-top: 115px;
	font-size: 2.0em;
	margin-left: 50px;
	width: 500px;
	font-family: 'Quicksand', sans-serif;
}

.right-header {
	letter-spacing: 10px;
	font-family: 'Quicksand', sans-serif;
	margin-top: 115px;
	float: right;
	text-align: center;
	width:auto;
	font-size: 2.0em;
	margin-right: 50px;
	width: 500px;
}

header {
	margin-bottom: -210px;
	padding-top: 70px;
}

.proPic {
	display: block;
	max-width: 20%;
	margin: 0 auto;
	margin-top: 40px;
	/*
	border-radius: 50%;
	border-bottom: solid 5px #dee9f1;
	border-top: solid 5px white;
	*/
}

.leftSide {
	float: left;
	width: 40%;
	margin-bottom: 5%;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
	position: relative;
}

.rightSide {
	float: right;
	width: 40%;
	margin-bottom: 5%;
	display: block;
	margin-right: 4%;
	margin-left: 4%;
}

.body {
	clear: both;
	background-color: #f5f5f5;
	overflow: auto;
	margin: 0;
	padding-top: 200px;
	width: 100%;
}

/* ================ myStory ================== */

.myStory {
	margin: 0 auto;
}

.myStory h2 {
	font-size: 1.6em;
	font-weight: bolder;
	margin-bottom: 30px;
}

.introPara {
	line-height: 200%;
	font-family: 'Quicksand', sans-serif;
	text-align: justify;
	margin-bottom: 60px;
	margin-top: 5px;
}

/* ================ recentStuff ================== */

.workExp {
	margin: 0 auto;
}

.workExp p {
	line-height: 200%;
	font-family: 'Quicksand', sans-serif;
}

.workExp h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}

/* ================ whatIKnow ================== */

.whatIKnow {
	margin: 0 auto;
	margin-bottom: 60px;
}

.whatIKnow h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}

.whatIKnow p {
	line-height: 150%;
	font-family: 'Quicksand', sans-serif;
	text-indent: 20px;
}

/* ================ myWork ================== */

.myWork {
	margin: 0 auto;
}

.myWork h2 {
	font-size: 1.6em;
	margin-bottom: 30px;
}

.myWork h3 {
	text-align: center;
}

.myWork p {
	margin-left: 20px;
	line-height: 200%;
	font-family: 'Quicksand', sans-serif;
}

/* ================ contact ================== */

.contact ul {
	margin: 0 auto;
	padding: 0;
	width: auto;
	text-align: center;
	list-style-type: none;
}

.contact ul li {
	margin-top: 50px;
	margin-bottom: -30px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	display:inline-block;
}

.contact ul li .fa {
	/*
	display: inline;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	color: red;
	font-size: 30px;
	*/
	font-size: 30px;
	color: #404749;
	display: inline-block;
}

/* ================ footer ================== */

footer {
	margin: 0 auto;
	clear: both;
	width: 100%;
	padding-top: 50px;
}

footer ul {
	padding: 0;
	width: 100%;
	text-align: center;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
	list-style-type: none;
}

footer ul li {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 7.5%;
	margin-right: 7.5%;
	display:inline-block;
}

/* ======================= Font Awesome ======================= */

footer li .fa {
	font-size: 65px;
	color: #404749;
	display: inline-block;
}

footer li .fa-file-text {
	font-size: 60px;
}

footer li .fa-file-text:hover {
	color: indianred;
}

footer li .fa-envelope:hover {
	color: forestgreen;
}

footer li .fa-github-square:hover {
	color: darkgray;
}

footer li .fa-facebook-square:hover {
	color: #3b5998;
}

footer li .fa-linkedin-square:hover {
	color: #007bb6;
}

/* ======================= Font Awesome ======================= */

@media screen and (max-width: 1100px) {
	.left-header {
		display: none;
	}

	.fullName {
		font-size: 4.5em;	
	}

	.proPic {
		max-width: 35%;	
	}

	.right-header {
		display: none;
	}
}

@media screen and (max-width: 665px) {

	header {
		padding-bottom: 150px;
		padding-top: 0;
	}

	.body {
		padding-top: 70px;
	}

	.fullName {
		font-size: 3.0em;
	}

	.proPic {
		max-width: 40%;
		margin-top: 20px;
	}

	.leftSide {
		width: 100%;	
		padding: 0;
		margin: 0 auto;
	}

	.myStory {
		padding-left: 3%;
		padding-right: 3%;
		margin: 0 auto;
	}

	.workExp {
		padding-left: 2%;
		padding-right: 2%;
		margin-bottom: 40px;
	}

	.whatIKnow {
		padding-left: 2%;
		padding-right: 2%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.whatIKnow p {
		text-indent: 0;
		text-align: center;
	}

	.rightSide {
		float: left;
		width: 100%;
		margin: 0 auto;
	}

	.left-header {
		display: none;
	}

	.right-header {
		display: none;
	}

	h2 {
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
		width: 100%;
	}

	.contact ul li {
		margin-left: 4.5%;
		margin-right: 4.5%;
	}

	footer ul li {
		margin-left: 5%;
		margin-right: 5%;
	}

	footer li .fa {
		font-size: 30px;
		color: #404749;
		display: inline-block;
	}
}